html{
    font-family: 'Raleway', sans-serif;
    /* raleway non pris en charge */
}

body{ 
    font-size: 18px;
    margin: 0px;
    padding: 0px;
}

header{
    padding-top: 0px;
    padding-bottom: 30px;
    margin-left: 40px;
    margin-right: 40px;
    height: 390px;  
    margin-top: 25px;  
}

.menu{
    float: right;
    display: flex;
}
nav{
    float: right;
    
}

nav li{
    display: inline;
}

nav a{
    padding: 20px 30px;
    font-size: 16px;
}

.menu-heb a{
    text-decoration: none;
    color: #0065FC;
    font-weight: bold;
}
.menu-act a{
    text-decoration: none;
    color: grey;
    font-weight: bold;
}

.menu-ins{
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
}
.menu-ins a{
    text-decoration: none;
    color: #0065FC;
    font-weight: bold;
    font-size: 16px;
}

.menu-heb:hover, .menu-ins a:hover{
    border-top: 2px solid blue;
    padding-top: 30px;
}
.menu-act:hover{
    border-top: 2px solid grey;
    padding-top: 30px;
}

#logo{
    width: 110px;
    padding-bottom: 20px;
    margin-top: 20px;
}
.logo{
    width: 50%;
    display: inline;
}

h1{
    font-size: 25px;
}
h5{
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 25px;
}
h6{
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 25px;
}

#search {
    width: 45px;
    text-align: center;
    height: 33px;
    border-radius: 10px 0px 0px 10px;
    background-color: #F2F2F2;
    padding-top: 11.5px;
}
#recherche{
    height: 40px;
    width: 250px;
    padding-left: 15px;
    border: solid 1.5px #F2F2F2;
}
::placeholder{
    font-weight: bold;
    font-size: 18px;
    color: black;
}

#submit{
    background-color: #0065FC;
    border-radius: 0px 10px 10px 0px;
    color: white;
    height: 45px;
    width: 150px;
    border: 0px solid;
    cursor: pointer ;
    font-size: 18px;
}
.p1{
    margin-right: 35px;
}
.filtres{
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    align-items: center;
}
.Inputicon i{
    position: absolute;
}
#item{
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 100px;
    border: 1px solid #F2F2F2;
    height: 32px;
    width: 50px;
    text-align: center;
    padding-top: 16px;
    position: absolute;
    z-index: 1;
}

#item2{
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 100px;
    border: 1px solid #F2F2F2;
    height: 32px;
    width: 50px;
    text-align: center;
    padding-top: 16px;
    position: absolute;
    z-index: 1;
}
#item3{
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 100px;
    border: 1px solid #F2F2F2;
    height: 32px;
    width: 50px;
    text-align: center;
    padding-top: 16px;
    position: absolute;
    z-index: 1;
}
#item4{
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 100px;
    border: 1px solid #F2F2F2;
    height: 32px;
    width: 50px;
    text-align: center;
    padding-top: 16px;
    position: absolute;
    z-index: 1;
}

.eco{
    background-color: white;
    margin-right: 25px;
    border-radius: 50px;
    font-weight: bold;
    border: 2.2px solid #F2F2F2;
    height: 50px;
    font-size: 18px;
    padding-left: 68px;
    padding-right: 30px;
    cursor: pointer;
    z-index: 0;
}
.eco:hover{
    background-color: #0065FC;
    border: 2px solid transparent;
    color: #F2F2F2;
}

#info{
    color: #0065FC;
    border-radius: 100%;
    border: 2px solid #F2F2F2;
    margin-right: 12px;
    padding: 5px;
    width: 17px;
    text-align: center;
}

.result{
    display: flex;
    align-items: center;
    margin-top: 15px;
}

section{
    display: flex;
}

.hebergement{
    background-color: #F2F2F2;
    margin-left: 40px;
    margin-top: 20px;
    width: 59%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    border-radius: 20px;
}

.images_heberge{
    height: 140px;
    width: 260px;
    border-radius: 15px 15px 0px 0px;
}

.ileft{
    display: flex;
    flex-wrap: wrap;
}
.description{
    margin-right: 20px;
    background-color: white;
    padding: 6px;
    border-radius: 20px;
    margin-bottom: 30px;
}

h2{
    font-size: 18px;
    margin-top: 10px;
    margin-left: 10px;
    margin-bottom: 8px;
}

.p2{
    margin-left: 10px;   
    font-size: 17px; 
}

.star{
    margin-left: 10px;
    margin-top: 7px;
}
.fa-star{
    color: #0065fc;
    font-size: 15px;
}
.star_grey{
    color: #F2F2F2;
    font-size: 15px;
}

.pop{
    background-color: #F2F2F2;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 20px;
    width: 28%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 40px;
    padding-right: 20px;
    border-radius: 20px;
}

#pop_item{
    margin-left: 130px;
}

.des_pop{
    display: flex;
    flex-wrap: nowrap;
    margin-right: 20px;
    background-color: white;
    padding: 6px;
    padding-right: 30px;
    border-radius: 20px;
    margin-bottom: 30px;
}

.images_pop{
    height: 170px;
    width: 150px;
    border-radius: 15px 0px 0px 15px;
}

.text_pop{
    margin-left: 10px;
}

.pop_star{
    margin-left: 10px;
    margin-top: 65px;
}

.activites{
    margin-top: 45px;
    margin-left: 40px;
    margin-right: 40px;
}

.left_act{
    float: left;
    width: 50%;
}
.right_act{
    float: right;
    width: 48.5%;
}
.big_act{
    float: left;
    border-radius: 20px;
    background-color: white;
    box-shadow: 1px 1px 20px #f2f2f2;
}
.left_images_act{
    border-radius: 20px 20px 0px 0px;
    width: 310px;
    height: 410px;
}
.small_act{
    width: 340px;
    margin-left: 355px;
    margin-right: 29px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 20px #f2f2f2;
}
.right_images_act{
    border-radius: 20px 20px 0px 0px;
    width: 340px;
    height: 190px;
}
.right_images_act2{
    width: 340px;
    height: 130px;
    border-radius: 20px 20px 0px 0px;
}
.small_act2{
    width: 340px;
    margin-left: 355px;
    margin-right: 29px;
    margin-top: 49px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 20px #f2f2f2;
}

h3{
    font-size: 18px;
    margin-top: 10px;
    margin-left: 20px;
    padding-bottom: 10px;
    margin-bottom: 8px;
}

footer{
    width: 100%;
    display: inline-table;;
    height: 210px;
    padding-top: 30px;
    margin-top: 50px;
    text-align: center;
    background-color: #F2F2F2;
}

h4{
    font-size: 18px;
    padding-bottom: 10px;
    margin-bottom: 8px;
}

.foot1{
    float: left;
    margin-left: 50px;
    text-align: start;
}
.foot2{
    float: left;
    margin-left: 220px;
    text-align: start;
}
.foot3{
    float: right;
    text-align: start;
    margin-right: 380px;
}



@media only screen and (device-width : 375px) and (device-height : 667px){

    .logo, #logo {
        margin-top: 10px;
        margin-left: 10px;
        width: 120px;
        padding-bottom: 0px;
    }

    .menu {
        float: none;
        display: flex;
        width: 375px;
        border-bottom: 1px solid; /*voir couleur*/
    }

     nav {
        margin-top: -20px;
        margin-bottom: -30px;
    }

    nav li {
        display: inline-block;
    }

    .menu-ins{
        height: 40px;
        margin-top: -40px;
    }
    .menu-ins a{
        font-size: 18px;
    }
    .menu-heb a {
        font-weight: initial;
        font-size: 18px;
        margin-left: -20px;
        float: left;
        width: 105px;
        margin-top: -20px;
    }
    .menu-act a{
        font-weight: initial;
        font-size: 18px;
        margin-right: -95px;
        float: right;
        color: black;
    }

    header {
        margin-right: 0px;
        margin-left: 10px;
        margin-top: 10px;
        width: 375px;
        height: 660px;
        padding-bottom: 10px;
    }

    .header{
        display: inline-block;
        margin-left: 10px;
    }

    #search{
        margin-left: 5px;
    }

    #recherche{
        width: 240px;
    }

    #submit{
        color: rgba(255, 255, 255, 0);
        background-repeat: no-repeat;
        background-size: 35%;
        background-position: center;
        width: 45px;
        background-image: url(images/search-solid.svg); /* mettre en blanc */
    }

    .p1{
        width: 100%;
    }
    .filtres{
        padding-top: 10px;
        margin-left: 10px;
    }
    .eco{
        font-size: 16px;
        padding-left: 60px;
        padding-right: 15px;
    }
    .Inputicon{
        margin-bottom: 10px;
        position: relative;
    }

    section{
        width: auto;
        flex-direction: column-reverse;
    }

    .pop{
        width: auto;
        border-radius: 0;
        margin-left: 0;
        margin-right: 0;
        padding-left: 20px;
        padding-right: 0;
    }
    #pop_item {
        margin-left: 110px;
    }

    h6{
        font-size: 22px;
    }

    .des_pop{
        height: 120px;
        width: 305px;
    }
    .images_pop {
        height: 120px;
        width: 120px;
    }
    .pop_star{
        margin-top: 0px;
    }

    .hebergement{
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        width: 375px;
        margin-left: 20px;
        padding-left: 0px;
    }
    h5 {
        margin-top: 0px;
        font-size: 22px;
    }

    .description{
        width: 325px;
        margin-right: 0px;
        box-shadow: 1px 1px 20px #f2f2f2;
        margin-bottom: 10px;
    }
    .images_heberge{
        width: 325px;
    }

    h2{
        margin-top: 0px;
    }

    .activites{
        margin-left: 20px;
        margin-right: 20px;
        margin-top: 0px;
    }

    .left_act{
        display: flex;
        flex-direction: column;
        width: 375px;
        float: none;
    }
    .right_act{
        display: flex;
        flex-direction: column;
        width: 375px;
        float: none;
        margin-top: 20px;
    }

    .left_images_act{
        width: 325px;
        height: 150px;
    }
    .right_images_act{
        width: 325px;
        height: 150px;
    }
    .right_images_act2{
        width: 325px;
        height: 150px;
    }

    .big_act{
        width: 325px;
    }
    .small_act{
        margin-left: 0;
        margin-right: 0;
        margin-top: 20px;
        width: 325px;
    }

    .small_act2{
        margin-left: 0px;
        width: 325px;
        margin-top: 20px;
    }

    footer{
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
        padding-bottom: 30px;
    }

    .foot1{
        float: none;
        margin-left: 20px;
    }
    .foot2{
        float: none;
        margin-left: 20px;
    }
    .foot3{
        float: none;
        margin-left: 20px;
    }

}

@media screen and (min-width: 768px) and (max-width: 1024px){
    .logo, #logo {
       width: 150px;
        margin-top: 0px;
        margin-left: 10px;
    }

    .menu {
        float: none;
        margin-left: 150px;
    }

    nav a{
        font-size: 20px;
    }

    .menu-ins a{
        font-size: 20px;
    }

    header {
        height: auto;
        padding-bottom: 10px;
    }

    #submit{
        padding-bottom: 4px;
    }
    .p1{
        width: 100%;
        font-size: 20px;
    }

    .filtres{
        padding-top: 20px;
        justify-content: center;
    }

    .Inputicon{
        margin-bottom: 15px;
    }

    section{
        width: auto;
        flex-direction: column-reverse;
    }

    .pop{
        width: auto;
        border-radius: 0;
        margin-left: 0;
        margin-right: 0;
        margin-top: 10px;
        margin-bottom: 40px;
        padding-left: 20px;
        padding-right: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    #pop_item {
        margin-left: 20px;
    }

    h6{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .des_pop{
        width: 530px;
    }
    .text_pop {
        margin-left: 40px;
    }

    .images_pop {
        height: 180px;
        width: 250px;
    }
    .width-330{
        width: 330px;
    }
    

    .hebergement{
        width: 768px;
        margin-left: 0;
        border-radius: 0;
    }

    h5 {
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .description{
        margin-left: 20px;
    }

    .images_heberge{
        height: 150px;
        width: 300px;
    }

    h1{
        font-size: 25px;
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .left_act{
        margin-bottom: 30px;
        width: 100%;
    }
    .right_act{
        width: 100%;
    }

    .foot3{
        margin-right: 295px;
    }

}
