html {
    font-family: 'Raleway', sans-serif;
    /*raleway ne fonctionne pas*/
}

body {
    font-size: 18px;
    margin: 0px;
    padding: 0px;
}

header {
    padding-top: 0px;
    padding-bottom: 30px;
    margin-left: 3.5%;
    margin-right: 3.5%;
    height: 390px;
    margin-top: 25px;
}

.menu {
    float: right;
    display: flex;
    align-items: baseline;
}

nav {
    float: right;
}

nav li {
    display: inline;
}

nav a {
    padding: 20px 30px;
    font-size: 16px;
}

.menu-heb a {
    text-decoration: none;
    color: #0065FC;
    font-weight: bold;
}

.menu-act a {
    text-decoration: none;
    color: grey;
    font-weight: bold;
}

.menu-ins a {
    margin-left: 1.875rem;
    text-decoration: none;
    color: #0065FC;
    font-weight: bold;
    font-size: 16px;
}

.menu-heb:hover,
.menu-ins a:hover {
    border-top: 2px solid blue;
    padding-top: 30px;
}

.menu-act:hover {
    border-top: 2px solid grey;
    padding-top: 30px;
}

#logo {
    width: 11%;
    padding-bottom: 20px;
    margin-top: 20px;
}

.logo {
    width: 50%;
    display: inline;
}

h1 {
    font-size: 25px;
}

h5 {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 24px;
}

h6 {
    margin-top: 15px;
    margin-bottom: 20px;
    font-size: 25px;
}

#search {
    width: 3rem;
    text-align: center;
    height: 33px;
    border-radius: 10px 0px 0px 10px;
    background-color: #F2F2F2;
    padding-top: 11.5px;
}

#recherche {
    height: 40px;
    width: 15.5rem;
    padding-left: 1.5%;
    border: solid 1.5px #F2F2F2;
}

::placeholder {
    font-weight: bold;
    font-size: 18px;
    color: black;
}

#submit {
    background-color: #0065FC;
    border-radius: 0px 10px 10px 0px;
    color: white;
    height: 44px;
    width: 10rem;
    border: 0px solid;
    cursor: pointer;
    font-size: 18px;
}

.p1 {
    margin-right: 3.3%;
}

.filtres {
    display: flex;
    flex-wrap: wrap;
    padding-top: 40px;
    align-items: center;
}

.Inputicon i {
    position: absolute;
}

.item {
    background-color: #DEEBFF;
    color: #0065FC;
    border-radius: 100px;
    border: 1px solid #F2F2F2;
    height: 32px;
    width: 3.1rem;
    text-align: center;
    padding-top: 16px;
    position: absolute;
    z-index: 1;
}

.eco {
    background-color: white;
    margin-right: 1.7rem;
    border-radius: 50px;
    font-weight: bold;
    border: 2.2px solid #F2F2F2;
    height: 50px;
    font-size: 18px;
    padding-left: 4.7rem;
    padding-right: 1.8rem;
    cursor: pointer;
    z-index: 0;
}

.eco:hover {
    background-color: #0065FC;
    border: 2px solid transparent;
    color: #F2F2F2;
}

#info {
    color: #0065FC;
    border-radius: 100%;
    border: 2px solid #F2F2F2;
    margin-right: 0.8rem;
    padding: 5px;
    width: 1.6%;
    text-align: center;
}

.result {
    display: flex;
    align-items: center;
    margin-top: 15px;
}

section {
    display: flex;
}

.hebergement {
    background-color: #F2F2F2;
    margin-left: 2.4rem;
    margin-top: 20px;
    width: 59%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 2.5rem;
    border-radius: 20px;
}

.images_heberge {
    height: 140px;
    width: 15.6rem;
    border-radius: 15px 15px 0px 0px;
}

.ileft {
    display: flex;
    flex-wrap: wrap;
}

.description {
    margin-right: 3.5%;
    background-color: white;
    padding: 6px;
    border-radius: 20px;
    margin-bottom: 30px;
}

h2 {
    font-size: 18px;
    margin-top: 5px;
    margin-left: 0.6rem;
    margin-bottom: 8px;
}

.p2 {
    margin-top: -4px;
    margin-left: 0.6rem;
    font-size: 17px;
}

.star {
    margin-left: 10px;
    margin-top: -13px;
    margin-bottom: 2px;
}

.fa-star {
    color: #0065fc;
    font-size: 15px;
}

.star_grey {
    color: #F2F2F2;
    font-size: 15px;
}

.pop {
    background-color: #F2F2F2;
    margin-left: 2.4rem;
    margin-right: 2.4rem;
    margin-top: 20px;
    width: 28%;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 2.5rem;
    padding-right: 1.5rem;
    border-radius: 20px;
}

#pop_item {
    margin-left: 130px;
}

.des_pop {
    display: flex;
    flex-wrap: nowrap;
    margin-right: 1rem;
    background-color: white;
    padding: 6px;
    padding-right: 1.4rem;
    border-radius: 20px;
    margin-bottom: 30px;
}

.images_pop {
    height: 170px;
    width: 150px;
    border-radius: 15px 0px 0px 15px;
}

.text_pop {
    margin-left: 0.8rem;
}

.pop_star {
    margin-left: 10px;
    margin-top: 65px;
}

.activites {
    margin-top: 45px;
    margin-left: 2.4rem;
    margin-right: 2.4rem;
}

.left_act {
    float: left;
    width: 50%;
}

.right_act {
    float: right;
    width: 48.5%;
}

.big_act {
    float: left;
    border-radius: 20px;
    background-color: white;
    box-shadow: 1px 1px 20px #f2f2f2;
}

.left_images_act {
    border-radius: 20px 20px 0px 0px;
    width: 19.375rem;
    height: 410px;
}

.small_act {
    width: 21.25rem;
    margin-left: 22.188rem;
    margin-right: 1.813rem;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 20px #f2f2f2;
}

.small_act2 {
    width: 21.25rem;
    margin-left: 22.188rem;
    margin-right: 1.813rem;
    margin-top: 49px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 1px 1px 20px #f2f2f2;
}

.right_images_act {
    border-radius: 20px 20px 0px 0px;
    width: 21.25rem;
    height: 190px;
}

.right_images_act2 {
    width: 21.25rem;
    height: 130px;
    border-radius: 20px 20px 0px 0px;
}

h3 {
    font-size: 18px;
    margin-top: 10px;
    margin-left: 1.25rem;
    padding-bottom: 10px;
    margin-bottom: 8px;
}

footer {
    width: 100%;
    display: inline-table;
    height: 210px;
    padding-top: 30px;
    margin-top: 50px;
    text-align: center;
    background-color: #F2F2F2;
}

h4 {
    font-size: 18px;
    padding-bottom: 10px;
    margin-bottom: 8px;
}

.foot1 {
    float: left;
    margin-left: 3.125rem;
    text-align: start;
}

.foot2 {
    float: left;
    margin-left: 13.75rem;
    text-align: start;
}

.foot3 {
    float: right;
    text-align: start;
    margin-right: 23.75rem;
}

@media only screen and (device-width: 375px) and (device-height: 667px) {
    .logo,
    #logo {
        margin-top: 10px;
        margin-left: 0.625rem;
        width: 7.5rem;
        padding-bottom: 0px;
    }
    .menu {
        margin-top: 10px;
        float: none;
        display: flex;
        width: 100%;
        border-bottom: 1px solid;
        flex-direction: column-reverse;
    }
    nav {
        margin-top: -20px;
        margin-bottom: -30px;
    }
    nav li {
        display: inline-block;
    }
    .menu-ins {
        margin-left: 15rem;
        margin-top: -46px;
    }
    .menu-ins a {
        font-size: 18px;
    }
    .menu-heb a {
        font-weight: initial;
        font-size: 18px;
        margin-left: -1.25rem;
        float: left;
        width: 6.563rem;
        margin-top: -20px;
    }
    .menu-act a {
        font-weight: initial;
        font-size: 18px;
        margin-right: -5.938rem;
        float: right;
        color: black;
    }
    header {
        margin-right: 0;
        margin-left: 0.625rem;
        margin-top: 10px;
        width: 100%;
        height: 660px;
        padding-bottom: 10px;
    }
    .header {
        display: inline-block;
        margin-left: 0.625rem;
    }
    #search {
        margin-left: 0.313rem;
    }
    #recherche {
        width: 15rem;
        padding-left: 1rem;
    }
    #submit {
        color: rgba(255, 255, 255, 0);
        background-repeat: no-repeat;
        background-size: 35%;
        background-position: center;
        width: 2.813rem;
        background-image: url(images/search-solid.svg);
    }
    .p1 {
        width: 100%;
    }
    .filtres {
        padding-top: 10px;
        margin-left: 0.625rem;
    }
    .eco {
        font-size: 16px;
        padding-left: 3.75rem;
        padding-right: 0.938rem;
    }
    .Inputicon {
        margin-left: -0.625rem;
        margin-bottom: 10px;
        position: relative;
    }
    #info {
        width: 1.55rem;
    }
    section {
        margin-top: -1.5rem;
        width: auto;
        flex-direction: column-reverse;
    }
    .pop {
        width: auto;
        border-radius: 0;
        margin-left: 0;
        margin-right: 0;
        padding-left: 1.25rem;
        padding-right: 0;
    }
    #pop_item {
        margin-left: 6.25rem;
    }
    h6 {
        font-size: 22px;
    }
    .des_pop {
        height: 120px;
        width: 19.063rem;
    }
    .images_pop {
        height: 120px;
        width: 7.5rem;
    }
    .pop_star {
        margin-top: 0px;
    }
    .hebergement {
        background-color: white;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        margin-left: 1.25rem;
        padding-left: 0px;
    }
    h5 {
        margin-top: 0px;
        font-size: 22px;
    }
    .description {
        width: 20.313rem;
        margin-right: 0px;
        box-shadow: 1px 1px 20px #f2f2f2;
        margin-bottom: 10px;
    }
    .images_heberge {
        width: 20.313rem;
    }
    h2 {
        margin-top: 0px;
    }
    .activites {
        width: 20.313rem;
        margin-left: 1.25rem;
        margin-top: 0px;
    }
    .left_act {
        display: flex;
        flex-direction: column;
        width: 100%;
        float: none;
    }
    .right_act {
        display: flex;
        flex-direction: column;
        width: 100%;
        float: none;
        margin-top: 20px;
    }
    .left_images_act {
        width: 100%;
        height: 150px;
    }
    .right_images_act {
        width: 100%;
        height: 150px;
    }
    .right_images_act2 {
        width: 100%;
        height: 150px;
    }
    .big_act {
        width: 100%;
    }
    .small_act {
        margin-left: 0;
        margin-right: 0;
        margin-top: 20px;
        width: 100%;
    }
    .small_act2 {
        margin-left: 0px;
        width: 100%;
        margin-top: 20px;
    }
    footer {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: auto;
        padding-bottom: 30px;
    }
    .foot1 {
        float: none;
        margin-left: 1.25rem;
    }
    .foot2 {
        float: none;
        margin-left: 1.25rem;
    }
    .foot3 {
        float: none;
        margin-left: 1.25rem;
    }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
    .logo,
    #logo {
        width: 9.375rem;
        margin-top: 0px;
        margin-left: 0.625rem;
    }
    .menu {
        float: none;
        margin-left: 9.375rem;
    }
    nav a {
        font-size: 20px;
    }
    .menu-ins a {
        font-size: 20px;
    }
    header {
        height: auto;
        padding-bottom: 10px;
    }
    #submit {
        padding-bottom: 4px;
    }
    .p1 {
        width: 100%;
        font-size: 20px;
    }
    .filtres {
        padding-top: 20px;
        justify-content: center;
    }
    .Inputicon {
        margin-bottom: 15px;
    }
    #info {
        width: 1.15rem;
    }
    section {
        width: auto;
        flex-direction: column-reverse;
    }
    .pop {
        width: auto;
        border-radius: 0;
        margin-left: 0;
        margin-right: 0;
        margin-top: 10px;
        margin-bottom: 40px;
        padding-left: 1.25rem;
        padding-right: 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    #pop_item {
        margin-left: 2.5rem;
    }
    h6 {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .des_pop {
        width: 33.125rem;
    }
    .text_pop {
        margin-left: 2.5rem;
    }
    .images_pop {
        height: 180px;
        width: 15.625rem;
    }
    .width-330 {
        width: 20.625rem;
    }
    .hebergement {
        width: 100%;
        margin-left: 0;
        border-radius: 0;
    }
    h5 {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .description {
        margin-left: 0.7rem;
    }
    .images_heberge {
        height: 150px;
        width: 18.75rem;
    }
    h1 {
        font-size: 25px;
        display: flex;
        justify-content: center;
        width: 100%;
    }
    .left_act {
        margin-bottom: 30px;
        width: 100%;
    }
    .right_act {
        width: 100%;
    }
    .foot3 {
        margin-right: 18.438rem;
    }
}